= form_tag search_wildfires_path, :method => 'get' do
	= text_field_tag :search, params[:search]
	= submit_tag "Search", :name => nil

%h1 All the wildfires

- @wildfires.each do |d|
	Name:
	= d.name
	%br
	Date it Occured:
	= d.happened
	%br
	Where there Deaths?
	= d.death_toll
	%br
	%br
	= link_to "Has Everything Been Repaired", change_death_toll_wildfire_path(d), method: "patch"
	%br
	%br


= button_to "add wildfire", new_wildfire_path, method: "get"
	
